.table-container {
    overflow-x: auto;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 600px) {

    th,
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        text-align: center;
        background-color: #ddd;
    }

    th:nth-child(even) {
        background-color: #f2f2f2;
    }
}