<ng-container *ngIf="filters$ | async as filters">
    <ng-container *ngFor="let filter of filters | activeFilters:selectionModel.selected">
        <ng-container [ngSwitch]="filter[1].dataType">
            <ng-container *ngSwitchCase="'date'" [ngTemplateOutlet]="date"
                [ngTemplateOutletContext]="{$implicit: filter}" />
            <ng-container *ngSwitchCase="'string'" [ngTemplateOutlet]="menu"
                [ngTemplateOutletContext]="{$implicit: filter}" />
            <ng-container *ngSwitchCase="'number'" [ngTemplateOutlet]="range"
                [ngTemplateOutletContext]="{$implicit: filter}" />
        </ng-container>
    </ng-container>

    <button class="filter-btn" (click)="isDropdownOpen = !isDropdownOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">+ Add Filter</button>

    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isDropdownOpen"
        cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
        cdkConnectedOverlayBackdropClass="overlay-backdrop" cdkConnectedOverlayHasBackdrop
        (backdropClick)="isDropdownOpen = false">
        <div class="overlay">
            <label *ngFor="let filter of availableFilters">
                <input type="checkbox" [checked]="selectionModel.isSelected(filter)" (change)="selectionModel.toggle(filter)" />
                {{ filter }}
            </label>
        </div>
    </ng-template>
</ng-container>


<ng-template #date let-filter>
    <aize-ui-calendar [label]="filter[0]" [min]="filter[1].min" [max]="filter[1].max"
        (dateChange)="onDateChange($event)" />
</ng-template>

<ng-template #range let-filter>
    <aize-ui-slider [label]="filter[0]" [min]="filter[1].min" [max]="filter[1].max" [range]="filter[1].values"
        (sliderChange)="onSliderChange($event)" />
</ng-template>

<ng-template #menu let-filter>
    <aize-ui-multi-select [label]="filter[0]" [values]="filter[1].values"
        (selectionChange)="onSelectionChange($event)" />
</ng-template>